<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="mat-card-header-image"></div>
    <mat-card-title>Spotify</mat-card-title>
    <mat-card-subtitle>
      {{currentSong}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button [disabled]="!isConnected" mat-icon-button color="primary" (click)="previous()">
      <mat-icon>skip_previous</mat-icon>
    </button>
    <button [disabled]="!isConnected" mat-icon-button color="primary" (click)="togglePlayPause()">
      <mat-icon *ngIf="isPlaying">pause</mat-icon>
      <mat-icon *ngIf="!isPlaying">play_arrow</mat-icon>
    </button>
    <button [disabled]="!isConnected" mat-icon-button color="primary" (click)="next()">
      <mat-icon>skip_next</mat-icon>
    </button>
    <mat-slider [disabled]="!isConnected" thumbLabel [displayWith]="formatVolumeLabel"
      (change)="setVolume($event.value)" [value]="currentVolume" min="1" max="100"></mat-slider>
    <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
      <mat-icon [matBadge]="devices.length" matBadgeColor="warn">cast</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <div *ngFor="let device of devices">
        <button mat-menu-item (click)="transferPlayback(device.id)" [disabled]="device.is_active || device.is_restricted">
          <mat-icon [color]="device.is_active ? 'primary' : ''">{{getDeviceIcon(device.type)}}</mat-icon>
          <span>{{device.name}}</span>
        </button>
      </div>
    </mat-menu>
  </mat-card-actions>
</mat-card>
