.mat-card {
  position: relative;
  white-space: pre-line;
  word-break: break-word;
  margin-bottom: 10px;
  height: 100%;
}

.mat-card-header-image {
  background-size: cover;
  background-image: url("/assets/images/light.svg");
}

.image-off{
  background-size: cover;
  background-image: url("/assets/images/light_off.svg");
}

.mat-card-header {
  margin-bottom: -10px;

  .mat-card-title {
    font-size: 16px;
  }
}
