<mat-card *ngIf="light">
  <mat-card-header>
    <div mat-card-avatar [ngClass]="isOn ? 'mat-card-header-image' : 'image-off'"></div>
    <mat-card-title>{{light.name}}</mat-card-title>
    <mat-card-subtitle>
      {{status}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-stroked-button [disabled]="!isSwitchOn || !isOn" mat-button (click)="editLight()">Edit</button>
    <button mat-stroked-button [disabled]="!isSwitchOn" mat-button (click)="toggleLight()">Toggle</button>
  </mat-card-actions>
</mat-card>
