.mat-card-header-image {
  background-size: cover;
  background-image: url("/assets/images/light.svg");
}

.image-off{
  background-size: cover;
  background-image: url("/assets/images/light_off.svg");
}
