.mat-card {
  position: absolute;
  border-radius: 0;
  height: 100%;
}

.mat-card ::ng-deep .mat-card-header-text {
  margin: 0px;
}

.mat-card ::ng-deep .mat-card-header {
  margin-bottom: -10px;
}

.mat-card ::ng-deep .mat-card-content {
  word-wrap: anywhere;
}
