.color-selector {
  margin-bottom: 10px;
  width: 190px;
}

.color-circle {
  margin-top: 10px;
}

.mat-card {
  margin-bottom: 10px;
  border-radius: 0px !important;
}

::ng-deep.mat-accent ::ng-deep.mat-slider-thumb-label-text {
  font-size: 9px;
  color: white;
}

::ng-deep.mat-accent ::ng-deep.mat-slider-track-fill,
::ng-deep.mat-accent ::ng-deep.mat-slider-thumb,
::ng-deep.mat-accent ::ng-deep.mat-slider-thumb-label {
  background-color: #673ab7;
}

::ng-deep.mat-slider-min-value.mat-slider-thumb-label-showing ::ng-deep.mat-slider-thumb,
::ng-deep.mat-slider-min-value.mat-slider-thumb-label-showing ::ng-deep.mat-slider-thumb-label {
  background-color: #673ab7;
}
