<h1 mat-dialog-title>Light settings</h1>
<div mat-dialog-content>
  <div class="color-selector">
    <mat-card [style.background-color]="selectedColor"></mat-card>
    <color-hue-picker [width]="190" (onChange)="handleChange($event)">
    </color-hue-picker>
  </div>
  <mat-label>Brightness</mat-label>
  <mat-slider thumbLabel [displayWith]="formatSliderLabel" [(ngModel)]="data.brightness" min="1" max="100"></mat-slider>
  <mat-label>Saturation</mat-label>
  <mat-slider thumbLabel [displayWith]="formatSliderLabel" [(ngModel)]="data.saturation" min="1" max="100"></mat-slider>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
