/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-button,
.mat-stroked-button,
.mat-flat-button {
  border-radius: 0 !important;
}

// Material cards
.mat-card {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-bottom: 10px;
  border-radius: 0 !important;
  height: 100%;
  transition: none !important;
  box-shadow: none !important;
}

.mat-card-header {
  margin-bottom: -10px;

  .mat-card-title {
    font-size: 16px !important;
  }
}

// Range slider
::ng-deep.mat-accent ::ng-deep.mat-slider-thumb-label-text {
  font-size: 9px;
  color: white;
}

::ng-deep.mat-accent ::ng-deep.mat-slider-track-fill,
::ng-deep.mat-accent ::ng-deep.mat-slider-thumb,
::ng-deep.mat-accent ::ng-deep.mat-slider-thumb-label {
  background-color: #673ab7;
}

::ng-deep.mat-slider-min-value.mat-slider-thumb-label-showing ::ng-deep.mat-slider-thumb,
::ng-deep.mat-slider-min-value.mat-slider-thumb-label-showing ::ng-deep.mat-slider-thumb-label {
  background-color: #673ab7;
}

@import "~@angular/material/theming";
@include mat-core();

$dark-primary: mat-palette($mat-deep-purple);
$dark-accent: mat-palette($mat-deep-purple);
$dark-warn: mat-palette($mat-red);
$dark-theme: mat-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
  )
);

@include mat-dialog-theme($dark-theme);
@include mat-menu-theme($dark-theme);
@include angular-material-color($dark-theme);
